<div class="backColor">
    <div class="footerDiv">

        <div class="logo">
            <img src="assets/images/fishTeam.png" alt="logo" class="logo">
        </div>
        <div class="links">
            <div class="linkList">
                <p class="linkP">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
            </div>
            <div class="linkList">
                <p class="linkP">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
            </div>
            <div class="linkList">
                <p class="linkP">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
            </div>
            <div class="linkList">
                <p class="linkP">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
                <p class="linkP2">Основные ссылки</p>
            </div>
        </div>
    </div>
</div>