.backColor
{
    background-color: #212121;
}
.footerDiv
{
    display: flex;
     
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-between;
    align-items: center;
    padding: 40px 40px;
}
img
{
    height: 50px;
}
.links
{
    display: flex;
    gap: 60px;
    
}
.linkList
{
    width: 100px;
}
.linkP
{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.linkP2
{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;    
    color: #CBCFD4;

}
.text
{
    width: 250px;
    text-align: center;
}
@media only screen and (max-width:1024px)
{
    .footerDiv
    {
        flex-direction: column;
    }
    .links
    {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        width: 80%;
        align-items: center;
        text-align: justify;
    }
    .linkList
    {
        width: 100%;
        text-align: center;
    }
    .linkP
    {
        width: 100%;
    }
    .linkP2
    {
        
        width: 100%;
    }
}
