<div class="backColor">
    <div class="footerDiv">

        <div class="logo">
            <a routerLink="front"><img src="assets/images/fishTeam.png" alt="logo" class="logo"></a>
        </div>
        <div class="links">
            <div class="linkList text">
                <p class="linkP">Реквизиты</p>

                <p class="linkP2">OOO "Fishteam"<br> 223021, Республика Беларусь, Минская область, Минский район, Щомыслицкий с/с, 43, помещение 1-52.<br> Все права защищены</p>
            </div>
            <div class="linkList">
                <p class="linkP">Основные ссылки</p>
                <a routerLink="front"><p class="linkP2">Главная страница</p></a>
            </div>
            <div class="linkList">
                <p class="linkP">Основные ссылки</p>
                <a routerLink="fishing"><p class="linkP2">Рыбалка</p></a>
                <a routerLink="clothes"><p class="linkP2">Одежда</p></a>
                <a routerLink="contacts"><p class="linkP2">Контакты</p></a>
                <a routerLink="about"><p class="linkP2">О нас</p></a>
            </div>
            <div class="linkList">
                <p class="linkP">Социальные сети</p>
                <a href="http://vk.com" target="_blank"><p class="linkP2"><fa-icon [icon]="faVk" ></fa-icon> Вконтакте</p></a>
                
                <a href="http://facebook.com" target="_blank"><p class="linkP2"><fa-icon [icon]="faFacebook" ></fa-icon> Facebook</p></a>
                <a href="http://instagram.com" target="_blank"><p class="linkP2"><fa-icon [icon]="faInstagram" ></fa-icon> Instagram</p></a>
            </div>
        </div>
    </div>
</div>