<div class="wrapper">
    <h1>О нас</h1>
    <p>Фиштим это вновь созданная компания, но с огромным опытом работы на белорусском рынке.</p>

    <p>
        Мы предлагаем товары для рыбалки от лучших мировых производителей, зарекомендовавшие себя высоким качественным и исключительной эффективностью. Ассортимент нашей продукции охватывает все основные направления рыбалки: спиннинговую рыбалку, ловлю поплавочными снастями, фидерную ловлю, карповую ловлю, нахлыст. Удилища, катушки, приманки, крючки, леска, фурнитура, аксессуары, одежда, которые благодаря своему качеству позволяют в полной мере реализовать себя как начинающим рыболовам, так и опытным любителям рыбалки и спортсменам, — всё это можно найти у нас.
    </p>
    <p>
        Многие из товаров представлены в разных ценовых сегментах, что делает возможным подбор как дорогих снастей и приманок с исключительными характеристиками, так и не сильно подрывающих семейный бюджет (соответствуя при этом самым жёстким требованиям современного рыболова).    
    </p>
    <h2>Бренды в наличии</h2>
    <div class="brands">
        <div class="brand">
            <h3>Shimano</h3>
            <img src="assets/images/shimano.png" alt="shimano">
        </div>
        <div class="brand">
            <h3>Crazy Fish</h3>
            <img src="assets/images/crazy_fish.png" alt="crazy fish">
        </div>
        <div class="brand">
            <h3>13 fishing</h3>
            <img src="assets/images/13fishing.png" alt="13 fishing">
        </div>
    </div>
</div>
