.wrapper
{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
h1
{
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    font-size: 30px;

}
p
{
    font-weight: 400;
}
.brands
{
    display: flex;
    flex:1 1 80px;
    justify-content: center;
    margin-bottom: 50px;
}

h2
{
    font-weight: 700;   
    text-align: center;
}
.brand
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

}
h3
{
    font-weight: 500;
}
img
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}