<div class="items" *ngIf="!errorOnLoad&&!isLoading">
    <ng-container *ngIf="!isChosen">
        <div class="choices">
            <div class="choice" (click)="clickTheDiv('caps')">
                <p>Кепки</p>
            </div>
            <div class="choice" (click)="clickTheDiv('shirts')">
                <p>Кофты/майки</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isChosen">
        <div class="item" *ngFor="let item of items" >
            <a routerLink="../items/{{item.id}}">
                <p class="title">{{item.title}}</p>
                <p class="price">{{item.price}} BYN</p>
                <img src="http://localhost:3000{{item.photo}}" alt="{{item.title}}">
            </a>
        </div>
    </ng-container>
</div>
<div *ngIf="isLoading" class="spinner">
    <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode">
    </mat-progress-spinner>
</div>
<div class="errorDiv" *ngIf="errorOnLoad">
    <p>Произошла ошибка при подключении к серверу. Повторите попытку позже</p>
    <img src="assets/images/error.jpg" alt="Error">
</div>
