div h5, div p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
div h5
{
    font-weight: 700;
}
.carousel
{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto;

}
.carousel-caption
{
    background-color: #f9f6f1e4;
    border-radius: 50%;
}
