
.carousel
{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto;

}
.height500
{
    height: 500px;
}
.carousel-caption
{
    background-color: #f9f6f1e4;
    border-radius: 50%;
}
