<div class="carousel">
    <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
        <mdb-carousel-item>
            <img
            src="assets/images/carousel1.jpg"
            class="d-block w-100 height500"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Новые удилища Savage Gear</h5>
                <p>Уже на складе</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img
            src="assets/images/carousel2.jpg"
            class="d-block w-100 height500"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Брендовая одежда</h5>
                <p>Рыбачьте стильно</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img
            src="assets/images/carousel3.jpg"
            class="d-block w-100 height500"
            alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Свежие поступления мягких приманок</h5>
                <p>Новая коллекция уже на складе</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>