img
{
    width: 300px;
}
.errorDiv
{
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20vh 0 20vh 0;

}