<div class="contacts">
    <div class="members">

        <div class="staffMember">
            <h1>Директор</h1>
            <h3>Иванов Иван Иванович</h3>
            <img src="assets/images/cat1.jpg" alt="director">
            <!-- <h3 class="phone"><fa-icon [icon]="faPhone"></fa-icon> +375 (44) 751-45-65</h3> -->
        </div>
        <div class="staffMember">
            <h1>Менеджер</h1>
            <h3>Иванова Ирина Ивановна</h3>
            <img src="assets/images/cat2.jpg" alt="manager">
            <!-- <h3 class="phone"><fa-icon [icon]="faPhone"></fa-icon> +375 (44) 157-17-45</h3> -->
        </div>
    </div>
    <form [formGroup]="phoneForm" >
        <h2>
            Есть вопрос?
        </h2>
        <h4>
            Оставьте нам свой номер телефона и мы вам перезвоним! (пн-пт <fa-icon [icon]="faClock"></fa-icon> 9:00-17:00)
        </h4>
        <div class="inputs">
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput [formControl]="phoneForm.controls.name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Телефон</mat-label>
                <span matPrefix>+375 &nbsp;</span>
                <input type="text" matInput placeholder="123456789" [formControl]="phoneForm.controls.phone">
            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" (click)="send()" [disabled]="phoneForm.pristine||phoneForm.invalid">Отправить</button>
    </form>
</div>
