.headerDiv
{
    display: flex;
    gap: 75px;
    height: 50px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.backColorHeader
{
    background-color: #F9F6F1;
}
img
{
    height: 50px;
}
.money
{
    display: flex;
    gap: 30px;
}
a
{
    color: black;
    text-decoration: none;
}
p
{
    margin: 0;
}