.item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title
{
    font-size: 30px;
    font-weight: 700;
}
img
{
    width: 60%;
    
}
.spinner
{
    padding: 30vh 0 30vh 0;
    display: flex;
    justify-content: center;
}
.errorDiv
{
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20vh 0 20vh 0;

}
@media screen and (max-width:1024px) 
{
    .title
    {
        text-align: center;
        line-height: 30px;

    }
    img
    {
        width: 90%;
    }
    
}